
    <button (click)="verNotasAlumno()">Notas de un notasAlumnno</button><br><p>

    <button (click)="subeUnPunto()">Sube un punto en cada asignatura</button><br><p>

    <button (click)="alumnosCiudad()">Buscar alumnos de una ciudad</button>
    <button (click)="alumnosCurso()">Buscar alumnos de un curso</button><br><p>

    <button (click)="ordenaEdad()">Ordenar alumnos por edad</button>
    <button (click)="ordenaNombresAsc()">Ordenar alumnos por nombre ascendente</button>
    <button (click)="ordenaNombresDesc()">Ordenar alumnos por nombre descendente</button><br><p>

    <button (click)="borraAlumno()">Borrar alumno</button><br><p>

    <button (click)="nuevoAlumno()">Nuevo alumno</button>
    <button (click)="nuevaAsignatura()">Nueva asignatura</button>

